
<!doctype html>
<html lang="en">
	<head>
		<title>BodyVisualiser</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		
		<div id="info">BodyVisualiser for VFR Project</div>
		<div id="info"><a href="index.html">Switch to male body.</a></div>
        <div id="info"><a href="female.html">Switch to female body.</a></div>
		<div id="container"></div>

		<div id="controls">
			<button class="btn" onclick="displaySize('T-Shirt or Shirt', 'M')">T-Shirts or Shirts</button>
			<button class="btn" onclick="displaySize('Pants or Trousers', 'L')">Pants or Trousers</button>
			<button class="btn" onclick="displaySize('Jackets or Coats', 'XL')">Jackets or Coats</button>
			<button class="btn" onclick="displaySize('Suits', 'M')">Suits</button>
			<div id="sizeDisplay">Select an item</div>
		</div>
		
		<script src="js/three.js"></script>
		
		<script src="js/UCSCharacter.js"></script>

		<script src='js/data.gui.js'></script>
				
		<script src="js/orbit.js"></script>
		
		<script>
			
		
	
			
			var SCREEN_WIDTH = window.innerWidth;
			var SCREEN_HEIGHT = window.innerHeight;

			var container;

			var camera, scene;
			var renderer;
			
			var mesh;

			var mouseX = 0, mouseY = 0;

			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;

			var clock = new THREE.Clock();
			
			var gui, skinConfig, morphConfig;

			var height = 160;             const HEIGHTDIFF = 80;
			var chest = 97;               const CHESTDIFF = 31;
			var neck = 37;                const NECKDIFF = 10;
			var neckHeight = 12;          const NECKHEIGHTDIFF = 6;
			var shoulders = 13;           const SHOULDERSDIFF = 4;
			var shoulderSlope = 1;        const SHOULDERSLOPEDIFF = 2;
			var bustGirth = 86;           const BUSTGIRTHDIFF = 17;
			var stomachForm = 1;          const STOMACHFORMDIFF = 2;
			var waist = 77;               const WAISTDIFF = 20;
			var armLength = 26;           const ARMLENGTHDIFF = 10;
			var upperArmGirth = 15;       const UPPERARMGIRTHDIFF = 10;
			var wrist = 16;               const WRISTDIFF = 8;
			var hipGirth = 112;           const HIPGIRTHDIFF = 28;
			var hipHeight = 36;           const HIPHEIGHTDIFF = 19;
			var thighGirth = 42;          const THIGHGIRTHDIFF = 10;
			var lowerLegLength = 38;      const LOWERLEGLENGTHDIFF = 14;
			var calf = 55;                const CALFDIFF = 16;
				
			
         
			init();
		
			animate();
			

			function init() {

				container = document.getElementById( 'container' );
				camera = new THREE.PerspectiveCamera( 30, window.innerWidth / window.innerHeight, 1, 100000 );
				camera.position.set(-9.50,3028.228,3324.432);

				scene = new THREE.Scene();

				// LIGHTS


				var light = new THREE.DirectionalLight( 0xffffff, 1 );
				light.position.set( 0, -1, 0 );
				light.position.set( 13, 5, 0 );
				scene.add( light );

				// RENDERER

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
				renderer.setClearColor( 0xffffff );
				container.appendChild( renderer.domElement );

				// CHARACTER
	
				character = new THREE.prototype();
				character.onLoadComplete = function() {
					console.log( "Load Complete" );
					console.log( character.numSkins + " skins and " + character.numMorphs + " morphtargets loaded." );
					gui = new dat.GUI();
					setupMorphsGUI();
					gui.width = 300;
					gui.open();
			
				}
				
				var loader = new THREE.XHRLoader();
				loader.load("models/skinned/childconfig.json", function ( text ) {

					var config = JSON.parse( text );
					character.loadParts( config );
					scene.add( character.root );
				} );

				window.addEventListener( 'resize', onWindowResize, false );
				
				controls = new THREE.OrbitControls( camera, renderer.domElement );
				controls.center.set( 0, 3000, 0);

				controls.addEventListener( 'change', render );

			}
			
			function displaySize(type, size) {

				if (!character.root || !character.root.children[0] || !character.root.children[0].morphTargetInfluences) {
					console.error("Mesh or morph targets not loaded yet.");
					return;
				}

				var mesh = character.root.children[0];

				console.log("Morph Target Influences:", mesh.morphTargetInfluences);

				if(type==="T-Shirt or Shirt"){
					chest = 70 + mesh.morphTargetInfluences[5] * CHESTDIFF;
					bustGirth = 60 + mesh.morphTargetInfluences[6] * BUSTGIRTHDIFF;
					shoulders = 10 + mesh.morphTargetInfluences[3] * SHOULDERSDIFF;
					waist = 59 + mesh.morphTargetInfluences[10] * WAISTDIFF;

					console.log(chest);

					if (chest === undefined || bustGirth === undefined || shoulders === undefined || waist === undefined) {
						console.error("One or more morph target values are undefined.");
						return;
					}

					var measurement = (0.5 * chest) + (0.2 * shoulders) + (0.1 * waist) + (0.2 * bustGirth);


					let iize;

					if (measurement >= 24 && measurement <= 46) {
						iize = "XS";
					} else if (measurement >= 47 && measurement <= 65) {
						iize = "S";
					} else if (measurement >= 66 && measurement <= 84) {
						iize = "M";
					} else if (measurement >= 85 && measurement <= 98) {
						iize = "L";
					} else if (measurement >= 99 && measurement <= 122) {
						iize = "XL";
					} else if (measurement >= 123 && measurement <= 130) {
						iize = "XXL";
					} else {
						iize = "Unknown";
					}

					document.getElementById('sizeDisplay').innerText = `${type} - Size: ${iize}`;
					}

					else if(type==="Pants or Trousers"){
					waist = 77 + mesh.morphTargetInfluences[8] * CHESTDIFF;
					hipGirth = 112 + mesh.morphTargetInfluences[12] * BUSTGIRTHDIFF;
					thighGirth = 42 + mesh.morphTargetInfluences[14] * SHOULDERSDIFF;
					lowerLegLength = 38 + mesh.morphTargetInfluences[15] * WAISTDIFF;

					console.log(chest);

					if (chest === undefined || bustGirth === undefined || shoulders === undefined || waist === undefined) {
						console.error("One or more morph target values are undefined.");
						return;
					}

					var measurement = (0.5 * waist) + (0.3 * hipGirth) + (0.1 * thighGirth) + (0.1 * lowerLegLength);


					let iize;

					if (measurement >= 24 && measurement <= 36) {
						iize = "XS";
					} else if (measurement >= 37 && measurement <= 48) {
						iize = "S";
					} else if (measurement >= 49 && measurement <= 62) {
						iize = "M";
					} else if (measurement >= 63 && measurement <= 75) {
						iize = "L";
					} else if (measurement >= 76 && measurement <= 89) {
						iize = "XL";
					} else if (measurement >= 90 && measurement <= 110) {
						iize = "XXL";
					} else {
						iize = "To be continued";
					}

					document.getElementById('sizeDisplay').innerText = `${type} - Size: ${iize}`;
					}
				}
		
			
			function setupMorphsGUI() {
				
				var morphGui = gui.addFolder( "Morphs" );
				
				morphConfig = {};
				
				var morphCallback = function( index ) {
					return function () {

						character.updateMorphs( morphConfig );
					}
				}
				
				for ( var i = 0; i < character.numMorphs; i ++ ) {
					var morphName = character.morphs[ i ];
					
					morphConfig[ morphName ] = character.morphslimit[ i ];
					
				}
				
				for ( var i = 0; i < character.numMorphs; i ++ ) {
				    
					morphGui.add( morphConfig, character.morphs[ i ] ).min( character.morphslowlimit[ i ] ).max(character.morphshighlimit[ i ]).onChange( morphCallback( i ) );
				}
				
				morphGui.open();
			
			}

			function onWindowResize() {

				windowHalfX = window.innerWidth / 2;      
				windowHalfY = window.innerHeight / 2;

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			
			//

			function animate() {
          
				requestAnimationFrame( animate );
			
				controls.update();

				render();
	

			}

			function render() {

				
				renderer.render( scene, camera );

			}

		</script>

	</body>
</html>
